
.navbar1 {
position: fixed;
z-index: 999;
width: 100%;
}
.head-text {
  position: relative;
 
}
.para {
 position: absolute;
 width: 70%;
 right: 10%;
 left: 10%;
 bottom: 25%;
 text-align: center;
 color: aliceblue;
}
.card-group{
  margin: 30px 30px 30px 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
 
}
.card{
  padding: 10px;
}

.aboutus{
  
  background-color:#162b54;
 
/* 
    background-image: var(--bg-gradient); */
}

.row{
  margin: 10px 80px 30px 80px;
  
  /* background-color: var(--bg-overlay-color); */
}
.lead{
color: rgb(159 168 187);
}
.featurette-heading{
  color: rgb(205 211 225);
}

h1{
  color:#162b54; 
}
h5{
  color:#162b54; 
}





 .card1 {
border: 2px solid black;
  background-color: #fff;

  border-radius: 10px;
  padding: 20px;
  width: 350px;
  display: flex;
  flex-direction: column;
} 

.title {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

.form {
 
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.group {
  position: relative;
}

.form .group label {
  font-size: 14px;
  color: rgb(99, 102, 102);
  position: absolute;
  top: -10px;
  left: 10px;
  background-color: #fff;
  transition: all .3s ease;
}

.form .group input,
.form .group textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  outline: 0;
  width: 100%;
  background-color: transparent;
}

.form .group input:placeholder-shown+ label, .form .group textarea:placeholder-shown +label {
  top: 10px;
  background-color: transparent;
}

.form .group input:focus,
.form .group textarea:focus {
  border-color: #3366cc;
}

.form .group input:focus+ label, .form .group textarea:focus +label {
  top: -10px;
  left: 10px;
  background-color: #fff;
  color: #3366cc;
  font-weight: 600;
  font-size: 14px;
}

.form .group textarea {
  resize: none;
  height: 100px;
}

.form button {
  background-color: #3366cc;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.form button:hover {
  background-color: #27408b;
}


.Clients {
  background-color: #162b54;
}

.name{
  color: rgb(241, 187, 116);
}  

.agent{
  color: aliceblue;
}

.Our{
  color: #fff;
}





